body {
  margin:0px;
  background-image:url('../../images/登录页面/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:200px;
  width:600px;
  height:400px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0099FF;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:274px;
  width:124px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0099FF;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:603px;
  height:5px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:351px;
  width:600px;
  height:2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:381px;
  width:356px;
  height:51px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:456px;
  width:356px;
  height:53px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:519px;
  width:222px;
  height:16px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u9_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:545px;
  width:174px;
  height:39px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:131px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:210px;
  width:149px;
  height:131px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:222px;
  width:361px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:519px;
  width:85px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:381px;
  width:50px;
  height:50px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:459px;
  width:50px;
  height:50px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
