body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:150px;
  width:121px;
  height:23px;
  font-size:20px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:239px;
  width:184px;
  height:25px;
}
#u325_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:190px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:84px;
  height:25px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u331_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:239px;
  width:300px;
  height:25px;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:239px;
  width:78px;
  height:25px;
  font-size:20px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:239px;
  width:112px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:239px;
  width:100px;
  height:30px;
}
#u343_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  visibility:hidden;
}
#u347_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:122px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:122px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:122px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:122px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:507px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:507px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:279px;
  width:112px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:279px;
  width:100px;
  height:30px;
}
#u363_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u367_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:327px;
  width:701px;
  height:155px;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:139px;
  height:30px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:139px;
  height:30px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:139px;
  height:30px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:0px;
  width:140px;
  height:30px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:139px;
  height:30px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:30px;
  width:139px;
  height:30px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:30px;
  width:139px;
  height:30px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:139px;
  height:30px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:30px;
  width:140px;
  height:30px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:139px;
  height:30px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:60px;
  width:139px;
  height:30px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:60px;
  width:139px;
  height:30px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:60px;
  width:139px;
  height:30px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:60px;
  width:140px;
  height:30px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:139px;
  height:30px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:90px;
  width:139px;
  height:30px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:90px;
  width:139px;
  height:30px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:90px;
  width:139px;
  height:30px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:90px;
  width:140px;
  height:30px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:139px;
  height:30px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:120px;
  width:139px;
  height:30px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:120px;
  width:139px;
  height:30px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:120px;
  width:139px;
  height:30px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:120px;
  width:140px;
  height:30px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:309px;
  width:116px;
  height:18px;
  text-align:right;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
